*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'customFont';
    src: url('/social-links-profile-main/social-links-profile-main/assets/fonts/static/Inter-Bold.ttf') format('truetype');
}
body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'customFont', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.profile {
    background-color: #2c2c2c;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.profile h2 {
    color: white;
    font-size: 26px;
    margin-bottom: 5px;
}
.location {
    color: greenyellow;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
}
.about-me {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 10;
    margin-bottom: 20px;
}
.btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    color:  #fff;
    text-decoration: none;
    background-color: #444;
    padding: 10px;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
}
.button:hover {
    background-color: greenyellow;
    color: #1a1a1a;
}